* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.core.resources.prefs -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
/README.md -text
WEB-INF/log4j.properties -text
WEB-INF/web.xml -text
/pom.xml -text
/properties.properties -text
scripts/login_Last_seen.sql -text
scripts/login_Tokens.sql -text
scripts/login_device_states.sql -text
scripts/login_devices.sql -text
scripts/login_logins.sql -text
scripts/login_routines0.sql -text
scripts/login_voucher_states.sql -text
scripts/login_vouchers.sql -text
src/com/myapplication/AdminServlet.java -text
src/com/myapplication/DBConnectionManager.java -text
src/com/myapplication/DeviceManagement.java -text
src/com/myapplication/HelloWorld.java -text
src/com/myapplication/Loggingout.java -text
src/com/myapplication/Registration.java -text
src/com/myapplication/RegistrationWithoutVoucher.java -text
src/com/myapplication/SQLAccess.java -text
src/com/myapplication/UrlManager.java -text
src/com/myapplication/Voucher.java -text
src/com/myapplication/filters/CORSFilter.java -text
src/com/myapplication/filters/HSTSFilter.java -text
src/com/myapplication/filters/RohadekFilter.java -text
src/com/myapplication/filters/XSSRequestWrapper.java -text
src/com/myapplication/filters/XssFilter.java -text
src/com/myapplication/listeners/CustomHttpSessionListener.java -text
src/com/myapplication/listeners/CustomServletContextListener.java -text
src/com/myapplication/listeners/SessionAttributeListener.java -text
src/com/myapplication/listeners/SessionBindingListener.java -text
src/com/myapplication/utils/AesUtil.java -text
src/com/myapplication/utils/Memory.java -text
src/com/myapplication/utils/PropertyUtils.java -text
src/com/myapplication/utils/hmac512.java -text
src/com/myapplication/utils/sha512.java -text
src/com/myapplication/utils/test.java -text
target/login.war -text
