* text=auto !eol
SwiftLoginScreen.xcodeproj/project.pbxproj -text
SwiftLoginScreen.xcodeproj/project.xcworkspace/contents.xcworkspacedata -text
SwiftLoginScreen.xcodeproj/project.xcworkspace/xcuserdata/dipin.xcuserdatad/UserInterfaceState.xcuserstate -text
SwiftLoginScreen.xcodeproj/project.xcworkspace/xcuserdata/georgegaspar.xcuserdatad/UserInterfaceState.xcuserstate -text
SwiftLoginScreen.xcodeproj/xcuserdata/dipin.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist -text
SwiftLoginScreen.xcodeproj/xcuserdata/dipin.xcuserdatad/xcschemes/SwiftLoginScreen.xcscheme -text
SwiftLoginScreen.xcodeproj/xcuserdata/dipin.xcuserdatad/xcschemes/xcschememanagement.plist -text
SwiftLoginScreen.xcodeproj/xcuserdata/georgegaspar.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist -text
SwiftLoginScreen.xcodeproj/xcuserdata/georgegaspar.xcuserdatad/xcschemes/SwiftLoginScreen.xcscheme -text
SwiftLoginScreen.xcodeproj/xcuserdata/georgegaspar.xcuserdatad/xcschemes/xcschememanagement.plist -text
SwiftLoginScreen/AppDelegate.swift -text
SwiftLoginScreen/CryptoJS.swift -text
SwiftLoginScreen/HomeVC.swift -text
SwiftLoginScreen/Images.xcassets/AppIcon.appiconset/Contents.json -text
SwiftLoginScreen/Images.xcassets/LaunchImage.launchimage/Contents.json -text
SwiftLoginScreen/Info.plist -text
SwiftLoginScreen/LoginVC.swift -text
SwiftLoginScreen/SignupVC.swift -text
SwiftLoginScreen/Storyboard.storyboard -text
SwiftLoginScreen/aes.js -text
SwiftLoginScreen/md5.js -text
SwiftLoginScreen/mode-cfb.js -text
SwiftLoginScreen/mode-ctr.js -text
SwiftLoginScreen/mode-ecb.js -text
SwiftLoginScreen/mode-ofb.js -text
SwiftLoginScreen/pad-ansix923.js -text
SwiftLoginScreen/pad-iso10126.js -text
SwiftLoginScreen/pad-iso97971.js -text
SwiftLoginScreen/pad-nopadding.js -text
SwiftLoginScreen/pad-zeropadding.js -text
SwiftLoginScreen/ripemd160.js -text
SwiftLoginScreen/sha1.js -text
SwiftLoginScreen/sha224.js -text
SwiftLoginScreen/sha256.js -text
SwiftLoginScreen/sha3.js -text
SwiftLoginScreen/sha384.js -text
SwiftLoginScreen/sha512.js -text
SwiftLoginScreenTests/Info.plist -text
SwiftLoginScreenTests/SwiftLoginScreenTests.swift -text
