* text=auto !eol
/.classpath -text
/.project -text
.settings/.jsdtscope -text
.settings/org.eclipse.core.resources.prefs -text
.settings/org.eclipse.jdt.core.prefs -text
.settings/org.eclipse.m2e.core.prefs -text
.settings/org.eclipse.wst.common.component -text
.settings/org.eclipse.wst.common.project.facet.core.xml -text
.settings/org.eclipse.wst.jsdt.ui.superType.container -text
.settings/org.eclipse.wst.jsdt.ui.superType.name -text
.settings/org.eclipse.wst.validation.prefs -text
/pom.xml -text
src/com/myapplication/AdminServlet.java -text
src/com/myapplication/HelloWorld.java -text
src/com/myapplication/SQLAccess.java -text
target/classes/com/myapplication/AdminServlet.class -text
target/classes/com/myapplication/HelloWorld.class -text
target/classes/com/myapplication/SQLAccess.class -text
target/lib/bsh-2.0b4.jar -text
target/lib/javax.servlet-api-3.1.0.jar -text
target/lib/jcommander-1.48.jar -text
target/lib/mysql-connector-java-5.1.35.jar -text
target/lib/testng-6.9.4.jar -text
target/m2e-wtp/web-resources/META-INF/MANIFEST.MF -text
target/m2e-wtp/web-resources/META-INF/maven/Login/Login/pom.properties -text
target/m2e-wtp/web-resources/META-INF/maven/Login/Login/pom.xml -text
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst -text
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst -text
