<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/login</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.username">sqluser</property>
        <property name="hibernate.connection.password">sqluserpw</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
       <!-- <property name="hibernate.hbm2ddl.auto">create</property> -->
        <property name="show_sql">true</property>
        <mapping class="com.jeet.api.Devices" />
        <mapping class="com.jeet.api.Logins" />
        <mapping class="com.jeet.api.Tokens" />
    </session-factory>
</hibernate-configuration>